/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/styles/Services.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Services_card__wsTrD {
  background-color: #1A1A1A;
  padding: 25px;
  width: 43.8rem;
  border: 1px solid #3E3E3E;
  border-radius: 15px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  transition: all 0.22s ease-in-out;
}
.Services_card__wsTrD:hover {
  cursor: pointer;
  background-color: hwb(0 7% 93%);
  transform: scale(0.98);
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 1600px) {
  .Services_card__wsTrD {
    width: 40rem;
  }
}
@media screen and (max-width: 1400px) {
  .Services_card__wsTrD {
    width: 30rem;
  }
}

.Services_icon__QQFhD {
  background-color: rgba(114, 52, 213, 0.2);
  border-radius: 12px;
  padding: 15px;
}

.Services_servicesGrid__EXYer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/styles/Home.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.Home_text__3B15I{
    line-height: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.Home_heading__LXbxC{
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.Home_subheading__pZywS{
    font-size: 1.5remm;
    width: 60%;
    line-height: 1.5rem;
    font-weight: regular;
    text-align: center;
    color: #6c7275;

}
